@import '../../../common.styl'

.pane
	pane-style()
	--resize-width var(--tq-rem)
	position fixed
	border-width 1px
	border-radius var(--tq-radius-pane)
	display grid
	grid-template-columns 1fr
	grid-template-rows 1fr
	z-index 101
	top var(--app-margin-top)
	right 0
	bottom 0
	left 0

.anchor-top, .anchor-left-top, .anchor-right-top
	bottom unset

.anchor-right, .anchor-right-top, .anchor-right-bottom
	left unset

.anchor-bottom, .anchor-left-bottom, .anchor-right-bottom
	top unset

.anchor-left, .anchor-left-top, .anchor-left-bottom
	right unset

.anchor-top .top, .anchor-left-top .top, .anchor-right-top .top,
.anchor-right .right, .anchor-right-top .right, .anchor-right-bottom .right,
.anchor-bottom .bottom, .anchor-left-bottom .bottom, .anchor-right-bottom .bottom,
.anchor-left .left, .anchor-left-top .left, .anchor-left-bottom .left
	display none

.widthMinimized, .heightMinimized
	background var(--tq-color-accent-hover)

	.minimizedTitle
		opacity 1

	.content
		opacity 0

.widthMinimized
	width var(--tq-rem) !important

.heightMinimized
	height var(--tq-rem) !important

.resize
	position absolute
	z-index 10

	&::before
		content ''
		position absolute
		width 100%
		height 100%
		background var(--tq-color-accent)
		opacity 0

	&:hover::before
		opacity 1

.top, .bottom
	cursor row-resize
	height var(--resize-width)
	left 0
	right 0

.top
	top calc(-.5 * var(--resize-width))

.bottom
	bottom calc(-.5 * var(--resize-width))

.left, .right
	width var(--resize-width)
	cursor col-resize
	top 0
	bottom 0

.left
	left calc(-.5 * var(--resize-width))

.right
	right calc(-.5 * var(--resize-width))

.minimizedTitle
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	pointer-events none
	opacity 0
	color var(--tq-color-on-accent)

.wrapper
	position relative
	height 100%
	overflow-y scroll
	scroll-fade-mask()

.content
	padding var(--tq-pane-padding)
	position relative
	height 100%
