@import '../../../common.styl'

.tqIcon
	width var(--tq-icon-size)
	height var(--tq-icon-size)

.char
	line-height 100%
	font-size 1.2em
	text-align center
	display flex
	align-items center
	justify-content center
