@import '../../../common.styl'

.split
	position relative
	display flex
	width 100%
	height 100%

.vertical
	flex-direction column

.pane
	position relative
	width 100%
	height 100%
	min-width 0
	min-height 0
	flex-grow 0
	flex-shrink 0

.fixed > .pane:not(.grow)
	flex-shrink 1

.grow
	flex-grow 1
	flex-shrink 1
	flex-basis 0

.horizontal > .grow
	min-width var(--pane-min)

.vertical > .grow
	min-height var(--pane-min)

.wrapper
	width 100%
	height 100%
	overflow hidden

.scroll
	overflow-y scroll
	scroll-fade-mask()

.divider
	position relative
	background var(--tq-color-border)
	z-index 10

	&:hover
		background var(--tq-color-accent)

.horizontal > .divider
	cursor col-resize
	width 1px
	height 100%

.vertical > .divider
	cursor row-resize
	width 100%
	height 1px

.divider::before
	content ''
	position absolute
	inset -8px
