@import '../../../common.styl'

.tabs
	display grid
	gap calc(.5 * var(--tq-rem))
	grid-template-columns 1fr
	grid-template-rows min-content 1fr

.tablistWrapper, .tablist
	display flex

.tablistWrapper
	gap var(--tq-rem)

.tablist
	gap calc(.2 * var(--tq-rem))
	list-style none
	user-select none

.tablistItem
	line-height calc(2 * var(--tq-rem))
	padding 2px calc(.4 * var(--tq-rem)) 0
	font-weight bold
	border-bottom 3px solid transparent

	&.active
		border-bottom-color var(--tq-color-text)

.tablistLink
	color var(--tq-color-text)
	opacity .4
	hover-transition(opacity, color)

	&:hover
		color var(--tq-color-accent)
		opacity 1

	[aria-selected='true']&
		opacity 1

.panelsWrapper
	position relative
	display grid

	:global(.TqTab)
		grid-column 1
		grid-row 1

.vertical
	grid-template-columns min-content 1fr
	grid-template-rows 1fr
	gap var(--tq-rem)
	min-height 0

	.tablist
		flex-direction column
		gap 2px

	.tablistItem
		border-bottom 0
		border-left 3px solid transparent
		padding 0
		white-space nowrap

		&.active
			border-left-color var(--tq-color-text)

	.tablistLink
		display block
		padding calc(.2 * var(--tq-rem)) calc(.6 * var(--tq-rem))
		width 100%

	.panelsWrapper
		min-height 0
		overflow-y auto
		border-left 1px solid var(--tq-color-border)
		padding-left var(--tq-rem)
		scroll-fade-mask()
