@import '../../../common.styl'

.modal
	popup-style()
	inset 0
	margin auto
	padding var(--tq-pane-padding)
	max-height calc(100dvh - 2 * var(--tq-pane-margin))
	max-width calc(100dvw - 2 * var(--tq-pane-margin))
	overflow hidden
	display flex
	flex-direction column
	opacity 0
	transform translateY(calc(var(--tq-rem) / -2))
	transition opacity var(--tq-active-transition-duration), transform var(--tq-active-transition-duration), overlay var(--tq-active-transition-duration) allow-discrete, display var(--tq-active-transition-duration) allow-discrete

	&::backdrop
		backdrop-filter blur(0)
		transition backdrop-filter var(--tq-active-transition-duration)

	&:popover-open
		opacity 1
		transform translateY(0)

		&::backdrop
			backdrop-filter blur(4px)

.emphasize
	animation modal-emphasize .2s ease

@keyframes modal-emphasize
	0%, 100%
		transform scale(1)
	35%
		transform scale(1.03)
