@import '../../../common.styl'

.tqInputNumber
	position relative

	&:before
		content ''
		position absolute
		display block
		width 0
		height 0
		border-top 4px solid transparent
		border-bottom 4px solid transparent
		top 50%
		margin-top -4px
		pointer-events none
		z-index 100
		opacity 0

	&.belowRange:before
		left 0
		border-right 4px solid var(--tq-color-accent)
		opacity .3

	&.aboveRange:before
		right 0
		border-left 4px solid var(--tq-color-accent)
		opacity .3

	&.tweaking.belowRange:before, &.tweaking.aboveRange:before
		opacity 1

.displayAtInactive
	pointer-events none
	position absolute
	inset 0
	display flex
	align-items center
	justify-content center

.prefix, .suffix
	color var(--tq-color-text-mute)

.prefix
	margin-right .1em

.suffix
	margin-left .1em

.bar, .handle
	position absolute
	height 100%

.bar
	pointer-events none
	background var(--tq-color-accent-soft)
	hover-transition(background)

	.tqInputNumber:hover:not(:has(:disabled)) &
		background var(--tq-color-accent-soft-hover)

.handle
	width 1px
	background var(--tq-color-accent)
	opacity .3

	&:hover, .tqInputNumber.tweaking &
		width 3px
		margin-left -1px

	.tqInputNumber:hover &, .tqInputNumber.tweaking &
		opacity 1

	&:before
		content ''
		position absolute
		display block
		height 100%
		left calc(var(--tq-input-height) / -2)
		right @left

.scrubZone
	position absolute
	width var(--tq-input-height)
	pointer-events none

	&.top
		top 0

	&.bottom
		bottom 0

	&.top, &.bottom
		height 'max((var(--tq-input-height) - 1em) / 2, 4px)' % ()

	&.edge
		top 0
		bottom 0

	&.wide
		left 0
		right 0
		width auto

	.tqInputNumber:focus-within &
		pointer-events auto
		cursor ew-resize

.grip
	position absolute
	left 0
	top 0
	bottom 0
	width var(--tq-input-height)
	display flex
	align-items center
	justify-content center
	pointer-events none

	.tqInputNumber:focus-within &
		pointer-events auto
		cursor ew-resize

.gripHint
	color var(--tq-color-text-mute)
	transform scale(.7)
	opacity 0

	.tqInputNumber:focus-within &
		opacity .5

.overlay
	position absolute
	overflow visible
	pointer-events none
	top 50%
	left 50%

.scale
	--offset-weight 1
	--gesture-precision 0
	fill none
	stroke 'color-mix(in srgb, var(--tq-color-accent), var(--tq-color-text-subtle) calc(var(--offset-weight) * 100%))' % ()
	stroke-linecap round
	stroke-width calc(4px + var(--offset-weight) * -1px)
	stroke-dasharray 0 calc(pow(10, var(--gesture-precision)))
	hover-transition(stroke-width)
