
@use '../../../node_modules/@vuepress/theme-default/lib/client/styles/variables' as *;

.vp-home {
  display: block;
  max-width: var(--homepage-width);
  margin: 0 auto;
  padding: var(--navbar-height) 2rem 0;

  @media (max-width: $MQMobileNarrow) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  [vp-content] {
    margin: 0;
    padding: 0;
  }
}
