
@use '../../../node_modules/@vuepress/theme-default/lib/client/styles/variables' as *;

.vp-sidebar-items {
  margin: 0;
  padding: 1.5rem 0;
  list-style-type: none;

  @media (max-width: $MQMobile) {
    padding: 1rem 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
