@import '../../../common.styl'

.tqInputTextBase
	position relative
	height var(--tq-input-height)
	border-radius var(--tq-radius-input)
	background var(--tq-color-input)
	color var(--tq-color-text)
	hover-transition(background, box-shadow)
	flex-grow 1
	overflow hidden
	container-type inline-size

	use-input-font()
	use-input-align()
	use-input-position()
	use-input-theme()

	&:hover, &.hover
		background var(--tq-color-input-hover)

	&:focus-within, &.active
		z-index 1
		box-shadow 0 0 0 1px var(--tq-color-accent)

	&:has(.input:disabled)
		background transparent
		--tq-color-accent var(--tq-color-text-border)
		--tq-color-accent-soft var(--tq-color-border-subtle)
		--tq-color-text var(--tq-color-text-mute)
		box-shadow inset 0 0 0 1px var(--tq-color-border)

	&.invalid
		--tq-color-text var(--tq-color-error)

.input, .inactiveContent
	position absolute
	inset 0 .5em
	overflow-x visible

	.tqInputTextBase:has(.icon.left) &
		left calc(var(--tq-icon-size))

	.tqInputTextBase:has(.icon.right) &
		right calc(var(--tq-icon-size))

.input
	height var(--tq-input-height)

	@container (max-width: 100px)
		&
			padding-inline 0

	&.hasInactiveContent:not(:focus)
		opacity 0

	&.ignore
		pointer-events none

.inactiveContent
	pointer-events none

	& > *
		pointer-events auto

	:focus + &
		display none

.icon
	margin calc((var(--tq-input-height) - var(--tq-icon-size)) / 2)
	color var(--tq-color-text-mute)
	transform scale(.8)
	opacity .7
	position absolute
	z-index 100
	pointer-events none
	top 0

	&.left
		left 2px

	&.right
		right 2px
