.app
	--titlebar-area-height env(titlebar-area-height, 38px)
	position fixed
	inset 0
	background var(--tq-color-background)

.main
	position fixed
	inset var(--titlebar-area-height) 0 0

.embedded
	position relative
	inset auto
	min-height 10rem

	.main
		position absolute
