@import '../../../common.styl'

.overlay
	position absolute
	pointer-events none
	inset 0 calc(var(--tq-input-height) * -1.2)
	active-transition(inset)
	padding calc((var(--tq-input-height) - var(--tq-icon-size)) / 2) 0

.icon
	position absolute
	width var(--tq-icon-size)
	height var(--tq-icon-size)
	color var(--tq-color-border)
	active-transition(color)
	background var(--tq-color-background)
	border-radius 50%

	&.active
		color var(--tq-color-accent)

	&.on
		right 0
