.parameter
	display grid
	grid-column 1 / 3
	grid-template-columns subgrid

.label
	line-height var(--tq-input-height)
	height var(--tq-input-height)
	align-items center
	display flex
	gap var(--tq-gap-related)
	color var(--tq-color-text-mute)
	white-space nowrap

	> *
		flex-shrink 0

.icon
	width calc(var(--tq-input-height) - 4px)
	height calc(var(--tq-input-height) - 4px)
	color var(--tq-color-text-subtle)

.input
	display grid
	gap var(--tq-gap-related)
	align-items center
	min-width 0
