
@use '../../node_modules/@vuepress/theme-default/lib/client/styles/variables' as *;

.vp-site-logo {
  vertical-align: top;
  height: var(--navbar-line-height);
  margin-right: var(--navbar-padding-v);
}

.vp-site-name {
  position: relative;
  color: var(--vp-c-text);
  font-weight: 600;
  font-size: 1.3rem;

  @media screen and (max-width: $MQMobile) {
    display: block;

    overflow: hidden;

    // 5.5rem for navbar padding-inline
    // 4.5rem for ColorModeSwitch and SearchBox
    // 1rem for gap
    width: calc(100vw - 11rem);

    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
