
@use '../../node_modules/@vuepress/theme-default/lib/client/styles/variables' as *;

.vp-page-nav {
  display: flex;
  flex-wrap: wrap;

  max-width: var(--content-width, 740px);
  min-height: 2rem;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 2rem 0;
  border-top: 1px solid var(--vp-c-gutter);

  transition: border-top var(--vp-t-color);

  @media (max-width: $MQNarrow) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media print {
    display: none;
  }

  .auto-link {
    display: inline-block;
    flex-grow: 1;

    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--vp-c-gutter);
    border-radius: 0.25rem;

    &:hover {
      background: var(--vp-c-control);
    }

    &.external-link::after {
      display: none;
    }

    &:not(.external-link) .external-link::after {
      display: none;
    }

    .hint {
      color: var(--vp-c-text-mute);
      font-size: 0.875rem;
      line-height: 2;
    }
  }

  .prev {
    text-align: start;
  }

  .next {
    text-align: end;
  }
}
