.zui
	position relative
	overflow hidden
	width 100%
	height 100%

.dots
	position absolute
	inset 0
	background-image radial-gradient(circle at top left, var(--tq-color-text-mute) 1px, transparent 1px)

.transform
	position absolute
	transform-origin 0 0
	pointer-events none

	> *
		pointer-events auto
