@import '../../../common.styl'

.tqInputRadio
	position relative
	display flex
	overflow hidden
	background var(--tq-color-input)
	height var(--tq-input-height)
	border-radius var(--tq-radius-input)
	padding 0
	gap 1px
	hover-transition(background, box-shadow)
	user-select none
	touch-action none
	cursor pointer

	&:focus-within
		box-shadow 0 0 0 1px var(--tq-color-accent)

	&.vertical
		flex-direction column
		height auto

	&.iconOnly label
		padding 0

.indicator
	position absolute
	top 0
	left 0
	border-radius var(--tq-radius-input)
	background var(--tq-color-accent)
	pointer-events none
	z-index 0

	&.animating
		transition transform var(--tq-hover-transition-duration) ease, width var(--tq-hover-transition-duration) ease, height var(--tq-hover-transition-duration) ease

	&.dragging
		background var(--tq-color-accent-hover)

.tqInputRadio:has(label.active:hover) .indicator
	background var(--tq-color-accent-hover)

.list
	position relative
	z-index 1
	flex-grow 1

.list input
	position absolute
	opacity 0

.list label
	display flex
	line-height var(--tq-input-height)
	height var(--tq-input-height)
	border-radius var(--tq-radius-input)
	overflow hidden
	text-align center
	justify-content center
	align-items center
	gap .4em
	white-space nowrap
	hover-transition(background, color)
	padding 0 .75em

	&:not(.active):hover
		background var(--tq-color-input-hover)

	&.active
		color var(--tq-color-on-accent)

.icon
	display block
	flex none

.ruler
	position absolute
	visibility hidden
	pointer-events none
	top 0
	left 0
	display flex

.rulerItem
	flex none
	display flex
	align-items center
	gap .4em
	height var(--tq-input-height)
	line-height var(--tq-input-height)
	padding 0 .75em
	white-space nowrap
