@import '../../../common.styl'

.iconIndicator
	--size var(--tq-input-height)
	height var(--size)
	width var(--size)
	display flex
	align-items center
	justify-content center
	hover-transition(color)
	border-radius 9999px
	color var(--tq-color-text)

.inline
	--size var(--tq-icon-size)

.inactive
	color var(--tq-color-text-mute)

.active
	color var(--tq-color-accent)

.icon
	display block
	height calc(var(--size) - 2px)
	width calc(var(--size) - 2px)
