.tqSvgIcon
	fill none
	stroke currentColor
	stroke-linecap butt
	stroke-linejoin miter
	stroke-width 2

.inline
	display inline-block
	width 1em
	height 1em
	vertical-align middle

.block
	display block

.nonStrokeScaling
	*
		vector-effect non-scaling-stroke
