.content
	font-size .9em
	line-height 1.4

.plain
	max-width 18em
	text-align center
	white-space pre-line

.html
	max-width 26em
	text-align left

.structured
	max-width 20em
	text-align center
	white-space pre-line

.title
	font-weight bold

.description
	color var(--tq-color-text-mute)
	font-size .95em
