.tqInputCode
	position relative
	border-radius var(--tq-radius-input)
	overflow hidden
	min-height calc(var(--tq-input-height) * 10)
	min-width 0
	background var(--tq-color-input)

.monacoEditor
	position absolute !important
	inset calc(var(--tq-input-height) * .25)
	width auto !important
	height auto !important
