@import './common.styl'

.pad
	position relative
	width 100%
	aspect-ratio 1

.canvas
	position absolute
	width 100%
	height 100%
	border-radius var(--tq-radius-input)
	background-checkerboard()

.circle
	circle-handle()
	z-index 1

.tweaking
	transform scale(2)
