.inputColor
	width 100%

.onlyPad
	flex-grow 1
	width 100%

	button > div
		width 100%

.colorCode
	:global(input)
		transition text-indent var(--tq-active-transition-duration) ease

.padTweaking
	:global(input)
		text-indent var(--tq-input-height)

.alpha
	flex-grow 0
	width calc(var(--tq-input-height) * 2)
